<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <h1>Edit Recipe</h1>p
    <a href="/">Logout</a>
    <a href="/dashboard">Back to recipes</a>
    <form action="/edit/recipe/" method="post">
        <div class="mb-3">
            <label class="form-check-label" for="name">Name</label>
            <input type="text" name="name" id="name" value="{{recipe.name}}">
            {% for message in get_flashed_messages(category_filter=['err_recipe_name'])%}
            <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="description">Description</label>
            <input type="text" name="description" id="description">
            {% for message in get_flashed_messages(category_filter=['err_recipe_description'])%}
            <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="instructions">Instructions</label>
            <input type="text" name="instructions" id="instructions">
            {% for message in get_flashed_messages(category_filter=['err_recipe_instructions'])%}
            <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="date">date made</label>
            <input type="date" name="date" id="date">
            {% for message in get_flashed_messages(category_filter=['err_recipe_date'])%}
            <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-check-label" for="under">Under 30 minutes</label>
            <select name="under" id="under">
                <option value=""></option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            {% for message in get_flashed_messages(category_filter=['err_recipe_under'])%}
            <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
        </div>
        <input type="hidden" name="id" value="{{recipe.id}}"/>
        <button class="btn btn-success" type="submit">Edit</button>
    </form>
</body>
</html>