<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="/dashboard">Back to recipies</a>
    <a href="/">Logout</a>
    <h2>{{recipe.name}}</h2>
    <div>
        <h3>Description:</h3><p>{{recipe.description}}</p>
    </div>
    <div>
        <h3>Under 30 minutes:</h3><p>{{recipe.under}}</p>
    </div>
    <div>
        <h3>Instructions:</h3><p>{{recipe.instructions}}</p>
    </div>
    <div>
        <h3>date made:</h3><p>{{recipe.date}}</p>
    </div>
</body>
</html>